html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#block-topheaderblock > header > div.header-sub-menus > div.header-sub-menu.header-sub-menu-account.logged-in {
  display: none !important;
}

.layout-container > header:nth-child(1) {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header.header {
  position: fixed;
  /*top: 0px;*/
  width: 100%;
  left: 0px;
  z-index: 199;
  transition: transform 1s ease-in-out;
  color: black;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #333333;
 /* display: none;*/
}

.header-contents-wrapper {
  min-height: 70px;
  position: relative;
  background: black;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.header-products {
  overflow: hidden;
  display: block;
  margin: 0px;
  padding-left: 5.74%;
}

header.header .header-contents-wrapper .header-social, header.header .header-contents-wrapper .header-cart {
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: auto;
    width: 36px;
}

.header-social {
  left: 21px;
  width: 40px;
}

.header-social > a:nth-child(1) {
  background-image: url('/themes/custom/lush/images/social.svg');
  background-size: 49px;
  width: 60px;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  border: 0px;
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-repeat: no-repeat;
  text-indent: -9999px;
  filter: none;
  text-decoration: none;
  color: black;
  font-family: Arial !important;
  font-size: 100%;
  font: inherit;
  font-family: inherit;
  vertical-align: baseline;
  height: 60px;
  background-position: 14px 22px;
}

.header-social > a:nth-child(1):hover {
  background-position: 14px -157px;
}

body header.header .header-contents-wrapper .header-contents .header-first-container {
  max-width: 1200px !important;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;  
}

.container-padding.header-first-container-padding {
  padding: 0 100px;
}

.header-logo-desktop {
  background: black url('/themes/custom/lush/images/logo.svg') no-repeat center center;
  background-size: auto auto;
  height: 70px;
  width: 233px;
  background-size: 237px;
  display: inline-block;
  margin-left: 0px;
  float: left;
}

.header-logo-desktop > a:nth-child(1) {
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: inline-block;
  cursor: pointer;
  color: black;
  filter: none;
  text-decoration: none;
  color: black;
  font-family: Arial !important;
  font-size: 100%;
  font: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

.header-account {
  float: right;
  text-align: center;
  height: 70px;
  display: inline-block;
  vertical-align: top;
  margin-left: 5.74%;
}

.header-account-icon-only {
  background-image: url('/themes/custom/lush/images/account.svg');
  width: 30px;
  background-size: 30px;
  background-position: 0 19px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  border: 0px;
  margin: 0px;
  padding: 0px;
  height: 70px;
  display: none;
}

.header-account-links {
  height: 70px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-align: center;
}

.header-account-links-login {
  height: 70px;
  line-height: 70px;
  display: inline-block;
  float: left;
  vertical-align: top;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

.header-account-links-login > a:nth-child(1) {
  background-image: url('/themes/custom/lush/images/account.svg');
  background-repeat: no-repeat;
  background-size: 37px;
  background-position: 0 21px;
  text-align: left;
  padding-left: 48px !important;
  border: 0px;
  font-size: 14px;
  line-height: 16px;
  line-height: 80px;
  color: white;
  display: inline-block;
  float: left;
  text-indent: 0px;
  height: 80px;
  overflow: hidden;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}

.header-account-links-login > a:nth-child(1):hover {
  text-decoration: none !important;
  color: grey !important;
  background-position: 0 -150px;
}

.header-account-links-pipe {
  background: gray;
  width: 1px;
  height: 14px;
  margin: 33px 12px 33px 13px;
  line-height: 70px;
  display: inline-block;
  float: left;
  vertical-align: top;
}

.header-account-links-join {
  height: 70px;
  line-height: 70px;
  display: inline-block;
  float: left;
  vertical-align: top;
}

.header-account-links-join > a:nth-child(1) {
  font-size: 14px;
  line-height: 16px;
  line-height: 80px;
  color: white;
  display: inline-block;
  float: left;
  text-indent: 0px;
  height: 80px;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.header-account-links-join > a:nth-child(1):hover {
  text-decoration: none !important;
  color: grey;
}

.header-search {
  width: 28px;
  height: 80px;
  float: right;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-left: 5.74%;
}

.header-search > a:nth-child(1) {
  background-image: url('/themes/custom/lush/images/search.svg');
  background-position: 0 24px;
  background-size: 28px;
  width: 28px;
  height: 80px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.header-search > a:nth-child(1):hover {
  background-position: 0 -100px;
}

.hidden-desktop {
  display: none !important;
}

.header-products-contents {
  height: 70px;
  width: 100%;
}

.has-children {
  padding-left: 0px;
  height: 80px;
  padding: 0 6.85%;
  display: inline-block;
  width: 33.3%;
  text-align: center;
  height: 70px;
  float: left;
}

.products {
  line-height: 80px;
  display: inline-block;
  color: #e3e3e3;
  vertical-align: middle;
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-size: 20px;
  cursor: pointer;
}

.products:hover {
  color: grey !important;
  text-decoration: none !important;
}

.menu-mlid-122256 {
  padding-right: 0px;
  height: 80px;
  padding: 0 6.85%;
  display: inline-block;
  width: 33.3%;
  text-align: center;
  height: 70px;
  float: left;
}

.menu-mlid-122256 > a:nth-child(1) {
  line-height: 80px;
  display: inline-block;
  color: #e3e3e3;
  vertical-align: middle;
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-size: 20px;
}

.menu-mlid-122256 > a:nth-child(1):hover {
  color: grey !important;
  text-decoration: none !important;
}

li.last:nth-child(3) {
  padding-right: 0px;
  height: 80px;
  padding: 0 6.85%;
  display: inline-block;
  width: 33.3%;
  text-align: center;
  height: 70px;
  float: left;
}

li.last:nth-child(3) > a:nth-child(1) {
  line-height: 80px;
  display: inline-block;
  color: #e3e3e3;
  vertical-align: middle;
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-size: 20px;
}

li.last:nth-child(3) > a:nth-child(1):hover {
  color: grey !important;
  text-decoration: none !important;
}

.header-cart {
  right: 21px;
  width: 36px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: auto;
}

.header-cart > a:nth-child(1) {
  background-image: url('/themes/custom/lush/images/basket-main.svg');
  background-position: -1px 22px;
  width: 36px;
  background-size: 38px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  border: 0px;
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-repeat: no-repeat;
}

.header-cart > a:nth-child(1):hover {
  background-position: -1px -119px;
}
/*header.header {
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0px;
  z-index: 199;
  transition: transform 1s ease-in-out;
  background: black;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100% !important;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  color: #333333;
}*/



.header-sub-menus #block-products-menu {
  display: none !important;
}
/*.header-contents-wrapper {

  min-height: 80px;
  position: relative;
  background: black;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.header-social {
  left: 21px;
  width: 40px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
*/

.header-sub-menus {
  background: black;
}

/*.container-padding {
  padding: 0 2.8%;
}*/

.header-sub-menus #block-products > ul:nth-child(3) {
  list-style: none;
}

#block-products > ul > li:nth-child(1) {
  border: none;
  line-height: 28px;
  display: block;
  vertical-align: middle;
  width: 10%;
  float: left;
  margin-right: 1.83387%;
}

#block-products > ul > li:nth-child(1) > a:nth-child(1) {
  margin-bottom: 8px;
  padding-bottom: 4px;
  border-bottom: solid 2px white;
  width: 92%;
  color: white;
  font-size: 18px;
  line-height: 24px;
  display: block !important;
  text-decoration: none;
}

#block-products > ul  li ul {
  display: block !important;
  margin-bottom: 30px;
}

#block-products > ul li ul li {
  border: none;
  line-height: 28px;
  display: block;
  vertical-align: middle;
}

#block-products > ul li ul li a {
  transition: color 0.2s ease;
  color: #b2b2b2;
  cursor: pointer;
}

#block-products > ul li ul li a:hover {
  color: white;
}  

#block-products > ul > li:nth-child(2) {
  border: none;
  line-height: 28px;
  display: block;
  vertical-align: middle;
  width: 11.5%;
  float: left;
  margin-right: 1.83387%;
}

#block-products > ul > li:nth-child(2) > a:nth-child(1) {
  margin-bottom: 8px;
  padding-bottom: 4px;
  border-bottom: solid 2px white;
  width: 92%;
  color: white;
  font-size: 18px;
  line-height: 24px;
  display: block !important;
  text-decoration: none;
}

#block-products > ul > li:nth-child(3) {
  border: none;
  line-height: 28px;
  display: block;
  vertical-align: middle;
  width: 11%;
  float: left;
  margin-right: 1.83387%;
}

#block-products > ul > li:nth-child(3) > a:nth-child(1) {
  margin-bottom: 8px;
  padding-bottom: 4px;
  border-bottom: solid 2px white;
  width: 92%;
  color: white;
  font-size: 18px;
  line-height: 24px;
  display: block !important;
  text-decoration: none;
}

#block-products > ul > li:nth-child(4) {
  border: none;
  line-height: 28px;
  display: block;
  vertical-align: middle;
  width: 10.2%;
  float: left;
  margin-right: 1.83387%;
}

#block-products > ul > li:nth-child(4) > a:nth-child(1) {
  margin-bottom: 8px;
  padding-bottom: 4px;
  border-bottom: solid 2px white;
  width: 92%;
  color: white;
  font-size: 18px;
  line-height: 24px;
  display: block !important;
  text-decoration: none;
}

#block-products > ul > li:nth-child(5) {
  border: none;
  line-height: 28px;
  display: block;
  vertical-align: middle;
  width: 10.2%;
  float: left;
  margin-right: 1.83387%;
}

#block-products > ul > li:nth-child(5) > a:nth-child(1) {
  margin-bottom: 8px;
  padding-bottom: 4px;
  border-bottom: solid 2px white;
  width: 92%;
  color: white;
  font-size: 18px;
  line-height: 24px;
  display: block !important;
  text-decoration: none;
}

#block-products > ul > li:nth-child(6) {
  border: none;
  line-height: 28px;
  display: block;
  vertical-align: middle;
  width: 10.89%;
  float: left;
  margin-right: 1.83387%;
}

#block-products > ul > li:nth-child(6) > a:nth-child(1) {
  margin-bottom: 8px;
  padding-bottom: 4px;
  border-bottom: solid 2px white;
  width: 92%;
  color: white;
  font-size: 18px;
  line-height: 24px;
  display: block !important;
  text-decoration: none;
}

#block-products > ul > li:nth-child(7) {
  border: none;
  line-height: 28px;
  display: block;
  vertical-align: middle;
  width: 10.89%;
  float: left;
  margin-right: 1.83387%;
}

#block-products > ul > li:nth-child(7) > a:nth-child(1) {
  margin-bottom: 8px;
  padding-bottom: 4px;
  border-bottom: solid 2px white;
  width: 92%;
  color: white;
  font-size: 18px;
  line-height: 24px;
  display: block !important;
  text-decoration: none;
}

#block-products > ul > li:nth-child(8) {
  border: none;
  line-height: 28px;
  display: block;
  vertical-align: middle;
  width: 10.2%;
  float: left;
  margin-right: 1.83387%;
}

#block-products > ul > li:nth-child(8) > a:nth-child(1) {
  margin-bottom: 8px;
  padding-bottom: 4px;
  border-bottom: solid 2px white;
  width: 92%;
  color: white;
  font-size: 18px;
  line-height: 24px;
  display: block !important;
  text-decoration: none;
}

.header-sub-menu-products.active {
  display: block;
}

.header-sub-menu-products {
  display: none;
}

.header-sub-menu-account.logged-in {
  display: none;
}

.header-sub-menu-search {
  display: none;
}

.header-sub-menu-search.active {
  display: block;
}

#main-content {
  padding: 0px 0 0 0;
  position: relative;
  display: block;
}

.hero-commerce {
  margin-bottom: 30px;
  position: relative;
  min-height: 460px;
  height: 460px;
  background-size: cover;
  background-color: black;
  color: white;
  font-family: helvetica-neue-LT-bold,"Helvetica Neue Light",Helvetica,Arial;
  margin: 0 auto;
  overflow: hidden;
  background-position: top center;
}

.hero {
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  color: white;
  font-family: helvetica-neue-LT-bold,"Helvetica Neue Light",Helvetica,Arial;
  margin: 0 auto;
  overflow: hidden;
}

.object-commerce-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero-homepage {
  background-image: url('/themes/custom/lush/images/creative_showcase_hero_0.jpg');
  background-position: 0px -246.196px;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
  display: table;
  width: 100%;
  margin-bottom: 45px;
  min-height: 460px;
  height: 460px;
  background-size: cover;
  background-color: black;
  color: white;
  font-family: helvetica-neue-LT-bold,"Helvetica Neue Light",Helvetica,Arial;
  margin: 0 auto;
  overflow: hidden;

}

.hero-center {
  bottom: 0px;
  opacity: 1;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background: none;
  height: 460px;
  position: relative;
}

.hero-center .container {
  padding-left: 0%;
  padding-right: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100% !important;
}

.hero-center .container .container-padding {
  padding: 0 3%;
}

h1.bold, h2.bold, h3.bold, h4.bold, h5.bold, h6.bold, .size-1.bold, .size-2.bold, .size-3.bold, .size-4.bold, .size-5.bold, .size-6.bold, .size-20.bold, .size-7.bold, .size-8.bold, .size-9.bold, .size-10.bold, p.bold {
  font-family: helvetica-neue-LT-bold,"Helvetica Neue Light",Helvetica,Arial;
}

.hero .size-2 {
  font-size: 72px;
  line-height: 72px;
  color: white;
  text-align: center;
}

.objects-hero-title {
  margin: 0px 0 25px;
}

.objects-hero-link-wrapper {
  bottom: 63px !important;
  position: absolute;
  bottom: 108px;
  left: 0px;
  right: 0px;
  margin: 0px;
  width: 100%;
  text-align: center;
}

.size-7 {
  line-height: 12px;
  color: black;
  border: 4px solid white;
  padding: 7px 24px;
  color: white !important;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  font-family: Arial !important;
  font-weight: bold !important;
  filter: none;
  text-decoration: none;
}

.objects-hero-title  h1 {
  font-size: 48px !important;
  font-weight: bold;
}

.size-7:hover {
  text-decoration: none;
  background-color: white;
  color: black !important;
}

.header-sub-menu-search {
  position: absolute;
  top: 0px;
  background: black;
  left: 0;
  right: 0;
  width: 100%;
  height: 79px;
  padding: 23px;
  z-index: 108;
}

.header-sub-menu-search .container {
  padding-left: 0%;
  padding-right: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100%!important; 
}

.header-sub-menu-search .container .container-padding {
  padding: 0 3%;
}

.search-wrapper-rel {
  position: relative;
}

.search-wrapper-rel #views-exposed-form-search-boards-block-search .js-form-item {
  
}

#views-exposed-form-search-boards-block-search .js-form-item > label:nth-child(1) {
  display: none;
}

.search-wrapper-rel .search-icon {
  position: absolute;
  display: inline-block;
  left: -100px;
  height: 33px;
  width: 30px;
  background-image: url('/themes/custom/lush/images/search.svg');
  background-repeat: no-repeat;
  background-size: 28px;
  opacity: 0;
  cursor: pointer;
  text-indent: -9999px;
  overflow: hidden;
}

#views-exposed-form-search-boards-block-search .js-form-item {
  margin-bottom: 15px;
  display: inline;
}

#edit-search-api-fulltext {
  margin: 0 0 0 40px;
  padding: 0;
  border: none;
  height: 35px;
  width: 75%;
  background: none;
  outline: none;
  color: white;
  font-size: 28px;
  line-height: 32px;
  cursor: text;
  font-family: arial !important;
}

.size-9 {
  float: right;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  font-family: helvetica-neue-LT-reg,"Helvetica Neue Light",Helvetica,Arial;
  margin-top: -35px;
}

.search-close {
  height: 35px;
  line-height: 35px;
  text-decoration: underline;
  color: white;
  border-bottom: 0px;
  filter: none;
  font-family: Arial !important;
}

.search-close:hover {
  color: grey !important;  
}

.container {
  padding-left: 0% !important;
  padding-right: 0% !important;
  margin-left: auto !important;
  margin-right: auto !important;  
}

.header-sub-menu-products.active {
  display: block;
}


.sub-menu-mobile > .products {
  display: none !important;
}

.sub-menu-mobile .menu-mlid-122256 {
  display: none !important;
}

.sub-menu-mobile .kitchen {
  display: none !important;
}
 
body .hero.hero-commerce {

}





















