

{# Content block #}

<section id="main-content" class="layout-browse with-hero" role="main">
  <div class="hero hero-commerce object-commerce">
    <div class="object-commerce-wrapper">
      <div class="hero hero-homepage with-image parallex node node--promo node--homepage-featured node--promo--homepage-featured" style="background-image: url('/themes/custom/lush/images/creative_showcase_hero_0.jpg'); background-position: 0px -246.196px;" data-scrollable="true" data-scroll-px="0.27264389843077935">
        <div class="hero-center" style="bottom: 0px; opacity: 1;">
          <div class="container">
            <div class="container-padding">
              <div class="size-2 bold white center break-2-size-5 break-4-size-4 break-8-size-3">
                <div class="objects-hero-title">
                  <h1>The Creative Showcase is back!</h1>
                </div>
                <div class="objects-hero-link-wrapper">
                  <a href="#" class="size-7 normal hero-white-button break-4-size-9 break-2-size-9">Be part of it</a> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
  <div class="container">
    <div class="container-padding">
      <div class="js-packery homepage" data-packery-options='{ "itemSelector": ".pack", "gutter": ".packery-gutter" , "columnWidth": ".packery-col-width", "stamp": ".stamp" }' style="position: relative; height: 1817.08px; background-image: url('/themes/custom/lush/images/1slide.png');">
        
      </div>
    </div>
  </div>
</section>
  

 {# ./Content block #}