<aside class="social-slideout slideout visible" style="left: -680px">
  <div class="objects-social-slideout">
    <div class="container">
      <div class="container-padding">
        <div class="1-region 1-region-social">
          <div id="block-lush-social-media-block-lush-social-media" class="block block--lush-social-media-block block--lush-social-media-block-lush-social-media">
            <h5 class="block__title">
              <span class="objects-social-slideout-header white size-7 bold">What is being talked about
              <a href="#" class="arrow-close slideout-button slideout-button-processed active" data-slideout-reference="social-slideout"></a>
              </span>
            </h5>
            <div class="block__content">
              <div class="blackboard">
                <div class="social-feed">
                  
                </div>
                <a href="/lush-basket" id="not-wrap-update-basket" class="use-ajax ajax-processed"></a>
                <a href="/lush-basket" id="loadA" class="use-ajax ajax-processed"></a>
                <a href="/lush-basket" id="not-wrap-update-basket" class="use-ajax"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>

<aside class="cart-slideout slideout visible" style="left: auto; right: -680px">
  <div class="object-cart-slideout-wrapper">
    <div class="1-region 1-region--cart">
      <div id="block-commerce-nosto-tagging-tag-cart" class="block block--commerce-nosto-tagging block--commerce-nosto-tagging-tag-cart">
        <div class="block__content">
          
        </div>
      </div>
      <div id="block-lush-styleguide-cart-slideout-footer" class="block block--lush-styleguide block--lush-styleguide-cart-slideout-footer">
        <div class="block__content">
          <span class="blackboard">
            <a href="/lush-basket" id="not-wrap-update-basket" class="use-ajax ajax-processed"></a>
            <a href="/lush-basket" id="loadA" class="use-ajax ajax-processed"></a>
            <a href="/lush-basket" id="not-wrap-update-basket" class="use-ajax ajax-processed"></a>
            <a href="/lush-basket" id="not-wrap-update-basket" class="use-ajax"></a>
          </span>
          <div>
            <div class="nosto_element" id="nosto-page-cart1"></div>
          </div>
          <div class="cart-slideout-footer container">
            <div class="break-20-grid-5 break-16-grid-5 break-12-grid-6 break-8-grid-3 break-4-grid-2 break-2-grid-2">
              <div class="need-help-block icon-help cart-slideout-left-padding">
                <div class="cart-slideout-footer-inner">
                  <h5 class="bold white size-7 footer-title">Customer care</h5>
                  <div class="help-menues-wrapper">
                     {{ items.care }}
                    {{ items.helpful }}
                  </div>
                </div>
              </div>
            </div>
            <div class="break-20-grid-15 break-20-omega break-16-grid-11 break-16-omega break-12-grid-6 break-12-omega break-8-grid-5 break-8-omega break-4-grid-2 break-4-omega break-2-grid-2">
              <div class="secure-payment-block icon-padlock cart-slideout-right-padding">
                <div class="cart-slideout-footer-inner">
                  <h5 class="size-8 bold white footer-title">Pay securely with...</h5>
                  <ul class="links--inline margin-top-space20 payments clearfix">
                    <li class="icon white icon-payment icon-master first">
                      <a href="http://www.mastercard.com">Mastercard</a>
                    </li>
                    <li class="icon white icon-payment icon-paypal">
                      <a href="https://www.paypal.com">PayPal</a>
                    </li>
                    <li class="icon white icon-payment icon-visa">
                      <a href="http://www.visa.com">Visa</a>
                    </li>
                    <li class="icon white icon-payment icon-amex">
                      <a href="https://www.americanexpress.com">Amex</a>
                    </li>
                    <li class="icon white icon-payment icon-bitpay last">
                      <a href="https://bitpay.com">Bitpay</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>






















