// Colors
$bd-plus-col: #aaa;
$black: #000;
$dark-blue: #021d4c;
$gray: #eee;
$dark-gray: #d7d7d7;
$olive-col: #b9bba6;
$scroll-text-color: #5a2ef7;
$sub-text-col: #666;
$trans-col: transparent;
$white: #fff;

// Images maps
$imgs_name: (1: 'bird', 2: 'star', 3: 'house', 4: 'mask', 5: 'shoe', 6: 'tea', 7: 'glass', 8: 'history', 9: 'music', 10: 'sport', 11: 'watch', 12: 'plane');